<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
		<% if (currentUser) {%>
		<div>
			<h1>WELCOME BACK <%= currentUser.first_name %> </h1>
			<a href="/account/member"><button>Become a Member</button></a>
			<a href="/account/sign-out"><button>Log Out</button></a>
		</div>
	  <!-- Create New Message -->	
		<% } else {%>
			<a href="/account/sign-in"><Button>Log-in</Button></a>
			<a href="/account/sign-up"><Button>Sign-up</Button></a>
		<!--  -->
		<% } %>
</body>
</html>
